In [6]:
import pandas as pd
df= pd.read_csv(r"C:\Users\lucas\Downloads\MAF_ESP\mensual - copia.csv", sep=';')
df

,dateid01,ag1,ag1f,ag2,ag2f,ag3,ag3f,ag4,ag4f,ag5,...,ser7,ser7f,ser8,ser8f,ser9,ser9f,series01,series02,series03,uno
0,1995-01-01,"175,08","175,08","15,582","15,582",#N/D,#N/D,#N/D,#N/D,#N/D,...,#N/D,#N/D,"805,102","805,102","5653,453","5653,453",2006,1,1,1
1,1995-02-01,"181,3","181,3","15,705","15,705",#N/D,#N/D,#N/D,#N/D,#N/D,...,#N/D,#N/D,"709,088","709,088","5527,724","5527,724",2007,1,1,1
2,1995-03-01,"253,44","253,44","15,537","15,537",#N/D,#N/D,#N/D,#N/D,#N/D,...,#N/D,#N/D,"885,654","885,654","6875,238","6875,238",2008,1,1,1
3,1995-04-01,"198,48","198,48","15,642","15,642",#N/D,#N/D,#N/D,#N/D,#N/D,...,#N/D,#N/D,"1132,881","1132,881","8172,252","8172,252",2009,1,1,1
4,1995-05-01,"239,02","239,02","15,489","15,489",#N/D,#N/D,#N/D,#N/D,#N/D,...,#N/D,#N/D,"966,975","966,975","8482,08","8482,08",2010,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,2026-08-01,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,...,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,1
380,2026-09-01,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,...,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,1
381,2026-10-01,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,...,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,1
382,2026-11-01,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,...,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,1
383,2026-12-01,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,...,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,#N/D,1

In [8]:
# 1. Cargar Datos
excel = pd.read_excel(r'C:\Users\lucas\Downloads\MAF_ESP\AFESP.xlsx', sheet_name="LECTURA")
excel

,Unnamed: 0,CP1,CP2,CP3,CP4,CP5,CP6,CP7,CP8,CP9,...,SER18.1,SER19.1,SER20.1,SER21.1,SER22.1,SER23.1,IMPU1.1,IMPU2.1,IMPU3.1,PIBUEM.1
0,1995-01-01,68.184300,-,-,-,-,53715.000000,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1995-02-01,68.254490,-,-,-,-,67479.000000,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1995-03-01,67.646260,-,-,-,-,97422.000000,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1995-04-01,68.584920,-,-,-,-,76051.000000,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1995-05-01,68.156120,-,-,-,-,84171.000000,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,2025-08-01,110.515833,100.833393,98.45514,115.875515,94.92389,51847.658114,104.087463,105.259737,136.8002,...,19.300414,-53.112858,-16.058075,-42.066538,5.251835,6.165131,8.522087,6.257434,5.091618,27.303027
368,2025-09-01,110.176572,99.067349,98.75639,104.178719,95.600211,61963.880548,103.238166,104.386958,136.338227,...,16.470881,-39.123331,-8.517180,-13.989838,5.018318,7.223784,7.906822,5.771289,4.925836,15.763201
369,2025-10-01,110.323895,99.093218,98.674446,106.315092,93.404882,68133.679802,103.575239,104.649683,137.278889,...,18.665042,-39.655665,-3.860278,-23.082489,4.258655,6.206225,7.842300,6.110177,5.032712,12.626428
370,2025-11-01,111.003654,98.888056,98.303958,105.983616,97.786145,73408.226086,104.209685,105.57981,139.179489,...,19.350737,-27.186172,1.329323,-8.959024,4.490675,6.591194,7.983646,6.813833,5.449371,12.402346
371,2025-12-01,110.268991,98.253058,94.867128,108.448688,95.915556,81963.179294,103.065069,104.376105,138.222467,...,13.565210,-24.984514,0.893242,-15.786011,4.110311,6.051831,7.677303,6.919093,5.816982,14.862848

In [20]:
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# Reemplazar '#N/D' por NaN
df.replace("#N/D", np.nan, inplace=True)

# Seleccionar las variables FEXP1 a FEXP5
variables = ['fexp1', 'fexp2', 'fexp3', 'fexp4', 'fexp5']
df[variables] = df[variables].replace(',', '.', regex=True).astype(float)

data_pca = df[variables].dropna()

# Estandarizar datos (equivalente a matriz de correlación en PCA)
scaler = StandardScaler()
data_scaled = scaler.fit_transform(data_pca)

# Aplicar PCA
pca = PCA()
pca_result = pca.fit_transform(data_scaled)

# Convertir resultados en DataFrame
pca_df = pd.DataFrame(pca_result, index=data_pca.index, columns=[f'PC{i+1}' for i in range(len(variables))])

# 6. Ver la varianza explicada por cada componente
explained_variance = pca.explained_variance_ratio_

# 7. Guardar resultados
pca_df.to_excel("PCA_Result.xlsx", sheet_name="PCA")

# 8. Mostrar resultados
print("Varianza explicada por componente:", explained_variance)

Varianza explicada por componente: [0.2 0.2 0.2 0.2 0.2]